.image-container{
    display:flex
}
h1{
    margin-top:0px;
    padding-top:20px;
}

.about-me{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    padding-left:80px;
    padding-right:80px;
    font-size:30px;
}

.triangle { 
    height:30vh;
    width:auto;
    border-radius: 0px 0px 0px 200px;
    float:right;
  }
  