.header-container{
    display:flex;
    justify-content: space-between;
    padding:35px;
    background-color: white;
}

.h1-container{
    color:#62A2EE;
}

.links{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

p{
    padding:15px;
}