@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,100&display=swap');
html, body{
  height: 100%;
  background-color: #73c4c6;
  font-family: 'Poppins', sans-serif;
}